@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap'); 

* {
	font-family: 'Karla', sans-serif;
}

body {
    background-color: hsl(204, 43%, 93%) !important;
} 

.card {
	margin: 100px auto;
	width: 42rem;
}

h3 {
	color: hsl(179, 62%, 43%);
}

#subtitle {
	 color: hsl(71, 73%, 54%);
}

.call-to-action {
	 color: hsl(218, 22%, 67%);
}

.custom-btn {
	width: 85% !important;
	background: hsl(71, 73%, 54%) !important;
	color: #fff !important;
	transition: all .2s ease-in-out !important;
}

.custom-btn:hover {
	transform: scale(1.05) !important;
}

#column1 {
	 background: hsl(179, 62%, 43%);
}

#column2 {
	 background-color: #4abebd;
}

.bigger-number {
	font-size: 2em;
	color: #fff;
}

.price {
	 color:hsla(203, 44%, 93%, 0.6);
}

.custom-list {
	 color:hsla(203, 44%, 93%, 0.6);
}

